<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Create page</title>
	</head>
	<body>
		<form method="POST">
			<label>Название</label><br>
			<input type="text" name="name"><br>
			<label>Описание статьи</label><br>
			<input type="textarea" name="description"><br>
			<label>Изображения (ссылками)</label><br>
			<input type="text" name="images"><br>
			<label>Цена</label><br>
			<input type="number" name="cost"><br>
			<input type="submit" value="Отправить">
		</form>
	</body>
</html>